html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
  background: $primary-color;
  color: set-text-color($text-primary-color);
}

h1,
h2,
h3 {
  display: block;

  &.lg-heading {
    font-family: 'Sen', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 5rem;
  }
  &.sm-heading {
    font-family: 'Sen', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: $text-primary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100vh;

  .icons {
    margin-top: 1rem;

    a {
      padding: 1rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
